.card {
    width: 75px;
    height: 75px;
    position: relative;
    overflow: hidden;
    background: #fff;
    padding: 6px;
    margin: 7.5px;
}

.cardbody {
    position: absolute;
    height: 37.5px;
    width: 100%;
    background-color: rgba(63, 98, 18, 0.8);
    top: 75px;
    left: 0;
    text-align: center;
    padding: 10px 0;
    transition: 1s;
}

.cardbody p {
    font-size: .75rem;
    font-weight: bold;
    color: #fff;
}

.card:hover .cardbody {
    top: 37.5px;
}