.category {
    padding: 10px;
    margin: 20px;
    background-color: rgba(0,0,0,0.6);
    width: 400px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category h2 {
    color: white;
    text-align: center;
}